.section_heading{
    font-size: 1.25rem;
    color: #008134;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    line-height: 1.25;
    margin-top: 1rem
}
.section_heading:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #8d9aad;
}
.interest_tile{
    background: #008134;
     color: white;
     padding: .25em .4em;
     font-size: 75%;
     font-weight: 700;
     white-space: nowrap;
     vertical-align: baseline;
     padding-right: .6em;
     padding-left: .6em;
     border-radius: 10rem;
     display: inline-block;
     overflow-wrap: normal;
     margin-right: 0.5rem;
     font-size: 12px;
 }