.footer{
    background-color: #008134;
    color: #fff;
    width: 100%;
    height: 60px;
    font-size: 16px;
}
.author::before{
    content: "\00A9";
    position: relative;
    right: 8px;
}
.contact::before{
    content: "\2709";
    position: relative;
    right: 4px;
}